.header {
    background-color: var(--secondary-background);
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
    justify-content: space-between;

    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Left, Center, Right */
    align-items: center;
}

.headerTitle,
.headerBackLink {
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
}

.headerTitle {
    color: var(--primary-color);
    font-size: clamp(1.1rem, 4vw, 2rem);
}

.headerBackLink {
    text-decoration: none;
    color: var(--text-color);
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    transition: color 0.3s;
    justify-self: start;

    &:hover {
        color: var(--primary-color);
    }
}

@media (max-width: 480px) {
    .headerTitle {
        font-size: clamp(1rem, 5vw, 1.2rem);
    }
    .headerBackLink {
        margin-right: 10px;
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.sectionText {
    padding: 0 10px;
}

.sectionTitle {
    border-left: 5px solid var(--primary-color);
    padding-left: 10px;
    margin-bottom: 20px;
}

.linksWrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

    .unclickable {
        a {
            opacity: 0.5;
            cursor: not-allowed;
            filter: grayscale(1);
            border-style: dashed !important;
            pointer-events: none;
            user-select: none;
            border-radius: 8px
        }
    }
}